[source]
address = "0.0.0.0:162"
version = "2c"
community = "public"

[[handle]]
  oid = "."
  [handle.log]
  path = "/path/to/logfile"

[[handle]]
  oid = "ifAdminStatus"
  drop = true

[[handle]]
  oid = "ifOperStatus"
  drop = true
  [handle.cmd]
  command = "/path/to/command"

[[handle]]
  oid = "."
  [handle.fwd]
  address = "10.10.10.10:162"
  version = "1"
  community = "public"
